.card__description {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}
